.pie-chart__section {
  width: 50%;
  min-width: 40rem;
}

.pie-chart__container {
  flex-wrap: wrap;
}

.pie-chart {
  align-items: center;
  width: fit-content;
  gap: 1rem;
}

.piechart__text {
  font-size: 1.8rem;
}
